@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap')

$primary-font: 'Changa', sans-serif
$secondary-font: 'Open Sans', sans-serif
$primary-color: #E6C229
$secondary-color: #222533
$date-color: #e67129
$comment-color: #a1e629
$gray-color: #9f9f9f
$light-color: #ffffff



.bg
    &-dark
        background-color: $secondary-color
    
    &-light
        background-color: $primary-color


.ml
    &-2
        margin-left: 2rem

@mixin cross-rm
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration
        display: none

@mixin flex-display($display, $align-items, $justify-content)
    display: $display
    align-items: $align-items
    justify-content: $justify-content