.btn
    background-color: $light-color
    color: $primary-color
    padding: 1rem 2rem
    font-size: 1.6rem
    border: none
    outline: none
    letter-spacing: 2px
    transition: all 0.25s
    &:hover
        background-color: $primary-color
        color: $light-color

    &-primary
        background-color: $primary-color
        color: $light-color

        &:hover
            background-color: $light-color
            color: $primary-color

.badge
    border: none
    padding: .2rem 2.4rem
    font-size: 1.6rem
    color: $secondary-color
    background-color: $primary-color
    margin: 5rem
    letter-spacing: 2px
    font-weight: bolder

    &-new-product
        background-color: $comment-color

    &-discount
        background-color: $date-color

.rating
    position: absolute
    top: 3px
    left: 3px
    width: 3rem
    height: 3rem
    background-color: $light-color
    opacity: 0
    z-index: 100
    transition: all 0.3s
    line-height: 3rem
    font-size: 1.4rem
    font-family: $primary-font
    text-align: center
    color: $secondary-color
    border-bottom-right-radius: 4px

.review
    padding: 5rem
    font-size: 1.3rem
    line-height: 1.8
    margin-left: 15rem
    border-left: 1px solid $primary-color
    border-bottom: 1px solid $primary-color
    transform: skew(-28deg)

    & > *
        transform: skew(28deg)

    &-tags
        font-size: 1.5rem
        color: $primary-color
        text-transform: uppercase
        font-weight: bolder
        

    &-text
        margin: 1rem
        font-weight: bolder

    p
        span
            
            a
                margin-left: 1rem
                transition: all 0.3s

                &:hover
                    color: $primary-color

    &-user
        display: flex
        align-items: center

        img
            width: 8rem
            margin-right: 3rem

        &-detail
            font-family: $primary-font
            margin-right: 3rem

            .review-user-name
                color: $primary-color
            
            .review-user-date
                color: $date-color

        &-platform
            .fab:not(:last-child)
                color: $primary-color

            .fab
                margin: 0 1rem
        
        &-rating
            margin-left: auto

            .checked
                color: $primary-color
                
.card
    height: 40rem
    perspective: 5000px
    border-radius: 15px

    &-inner
        position: relative
        width: 100%
        height: 100%
        text-align: center

    .card-front, .card-back
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        backface-visibility: hidden
        transition: all 0.6s
    
    .card-front

        h4
            background-color: $primary-color

    .card-back
        background-color: $secondary-color
        transform: rotateY(-180deg)
        display: table

        &-content
            display: table-cell
            vertical-align: middle

            p
                font-size: 1.8rem
                margin-bottom: 1rem
                font-weight: bolder
                color: $light-color
            
            a i
                margin: 1rem
                font-size: 4rem
                transition: all 0.3s

                &:hover
                    color: lighten($primary-color, 20%)


    &:hover

        .card-front
            transform: rotateY(180deg)

        .card-back
            transform: none
        