@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap");
.bg-dark {
  background-color: #222533;
}

.bg-light {
  background-color: #E6C229;
}

.ml-2 {
  margin-left: 2rem;
}

.btn {
  background-color: #ffffff;
  color: #E6C229;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  letter-spacing: 2px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn:hover {
  background-color: #E6C229;
  color: #ffffff;
}

.btn-primary {
  background-color: #E6C229;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #E6C229;
}

.badge {
  border: none;
  padding: .2rem 2.4rem;
  font-size: 1.6rem;
  color: #222533;
  background-color: #E6C229;
  margin: 5rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

.badge-new-product {
  background-color: #a1e629;
}

.badge-discount {
  background-color: #e67129;
}

.rating {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 3rem;
  font-size: 1.4rem;
  font-family: "Changa", sans-serif;
  text-align: center;
  color: #222533;
  border-bottom-right-radius: 4px;
}

.review {
  padding: 5rem;
  font-size: 1.3rem;
  line-height: 1.8;
  margin-left: 15rem;
  border-left: 1px solid #E6C229;
  border-bottom: 1px solid #E6C229;
  -webkit-transform: skew(-28deg);
          transform: skew(-28deg);
}

.review > * {
  -webkit-transform: skew(28deg);
          transform: skew(28deg);
}

.review-tags {
  font-size: 1.5rem;
  color: #E6C229;
  text-transform: uppercase;
  font-weight: bolder;
}

.review-text {
  margin: 1rem;
  font-weight: bolder;
}

.review p span a {
  margin-left: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.review p span a:hover {
  color: #E6C229;
}

.review-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-user img {
  width: 8rem;
  margin-right: 3rem;
}

.review-user-detail {
  font-family: "Changa", sans-serif;
  margin-right: 3rem;
}

.review-user-detail .review-user-name {
  color: #E6C229;
}

.review-user-detail .review-user-date {
  color: #e67129;
}

.review-user-platform .fab:not(:last-child) {
  color: #E6C229;
}

.review-user-platform .fab {
  margin: 0 1rem;
}

.review-user-rating {
  margin-left: auto;
}

.review-user-rating .checked {
  color: #E6C229;
}

.card {
  height: 40rem;
  -webkit-perspective: 5000px;
          perspective: 5000px;
  border-radius: 15px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card .card-front, .card .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.card .card-front h4 {
  background-color: #E6C229;
}

.card .card-back {
  background-color: #222533;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  display: table;
}

.card .card-back-content {
  display: table-cell;
  vertical-align: middle;
}

.card .card-back-content p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  color: #ffffff;
}

.card .card-back-content a i {
  margin: 1rem;
  font-size: 4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card .card-back-content a i:hover {
  color: #f1dc84;
}

.card:hover .card-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card-back {
  -webkit-transform: none;
          transform: none;
}

@-webkit-keyframes mainAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  50% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  50% {
  }
  100% {
    opacity: 1;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  background-color: #ffffff;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

section {
  padding: 8rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Changa", sans-serif;
  letter-spacing: 3px;
}

h1 {
  font-size: 7rem;
  color: #E6C229;
  font-weight: bolder;
}

h2 {
  font-size: 5rem;
  color: #E6C229;
  letter-spacing: 0.5rem;
  font-weight: bolder;
}

h3 {
  font-size: 4rem;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold;
}

h4 {
  font-size: 2.5rem;
  color: #222533;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Changa", sans-serif;
  color: #ffffff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.section-title h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.top-header {
  border-bottom: 1px solid #E6C229;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header .container .top-social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header .container .top-social-menu li {
  margin: 0 1rem;
  padding: 1rem;
}

.top-header .container .top-social-menu li a {
  font-size: 2rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.top-header .container .top-social-menu li:hover a {
  color: #E6C229;
}

.top-header .container .login-area span {
  display: none;
}

.nav-header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-header .navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header .navbar .navbar-list li {
  line-height: 8rem;
  position: relative;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.nav-header .navbar .navbar-list li .dropdown {
  position: absolute;
  background-color: #363b52;
  width: 150%;
  left: 50%;
  z-index: 10;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 12rem;
  opacity: 0;
  visibility: hidden;
}

.nav-header .navbar .navbar-list li .dropdown li {
  line-height: 4rem;
}

.nav-header .navbar .navbar-list li:hover {
  background-color: #E6C229;
}

.nav-header .navbar .navbar-list li:hover .dropdown {
  opacity: 1;
  top: 8rem;
  visibility: visible;
}

.nav-header .navbar .navbar-list a {
  padding: 0 2rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.nav-header .navbar .navbar-list i {
  color: #ffffff;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.nav-header .navbar .search-area input[type="search"], .nav-header .navbar .search-area button[type="submit"] {
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.nav-header .navbar .search-area input[type="search"] {
  border-bottom: 1px solid #f1dc84;
  padding: 0 0 0.5rem 0.5rem;
}

.nav-header .navbar .search-area input[type="search"]:focus {
  border-bottom: 2px solid #E6C229;
  outline: none;
  color: white;
}

.nav-header .navbar .search-area input[type="search"]:focus::-webkit-input-placeholder {
  color: transparent;
}

.nav-header .navbar .search-area input[type="search"]:focus:-ms-input-placeholder {
  color: transparent;
}

.nav-header .navbar .search-area input[type="search"]:focus::-ms-input-placeholder {
  color: transparent;
}

.nav-header .navbar .search-area input[type="search"]:focus::placeholder {
  color: transparent;
}

.nav-header .navbar .search-area input[type="search"]::-webkit-search-decoration,
.nav-header .navbar .search-area input[type="search"]::-webkit-search-cancel-button,
.nav-header .navbar .search-area input[type="search"]::-webkit-search-results-button,
.nav-header .navbar .search-area input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.nav-header .navbar .search-area button[type="submit"] {
  margin-left: -5rem;
  cursor: pointer;
}

.main-slider .single-slide {
  position: relative;
}

.main-slider .single-slide .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.main-slider .single-slide .slide-overlay .slide-content {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  border-top: 2px solid #E6C229;
  border-bottom: 2px solid #E6C229;
  padding: 10rem 25rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  -webkit-animation: mainAni 0.5s ease-out;
          animation: mainAni 0.5s ease-out;
}

.main-slider .single-slide .slide-overlay .slide-content h2 {
  color: #f6e9b2;
}

.main-slider .single-slide .slide-overlay .slide-content p {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
}

.owl-theme {
  position: relative;
}

.owl-theme::after {
  position: absolute;
  top: 73px;
  right: 190px;
  content: '';
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  width: 158px;
  height: 50px;
}

.owl-theme .owl-dots {
  position: absolute;
  top: 6rem;
  right: 10%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 1.3rem;
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  border-radius: 4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.owl-theme .owl-dots .owl-dot.active, .owl-theme .owl-dots .owl-dot:hover {
  color: #E6C229;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: transparent !important;
}

.owl-theme .owl-dots .owl-dot span {
  font-size: 2.5rem;
  font-family: "Changa", sans-serif;
  background-color: transparent !important;
}

.latest-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E6C229;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-news-title {
  width: 25%;
  text-align: right;
  padding-right: 2rem;
}

.latest-news-content {
  width: 75%;
  background-color: #222533;
  height: 100%;
}

.latest-news-content .news-ticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 6rem;
}

.latest-news-content .news-ticker p {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
}

.recent-products-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 4rem;
  grid-column-gap: 4rem;
      grid-template-areas: "item-1 item-1 item-1 item-2" "item-3 item-4 item-5 item-6";
}

.recent-products-content .recent-product-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-products-content .recent-product-featured .recent-product-thumbnail {
  height: 100%;
}

.recent-products-content .recent-product-featured .recent-product-thumbnail img {
  height: 100%;
}

.recent-products-content .recent-product-featured .rating {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border-bottom-right-radius: 7px;
}

.recent-products-content .recent-product-featured .product-title a {
  font-size: 3rem !important;
}

.recent-products-content .recent-product {
  width: 100%;
  height: 100%;
  background-color: #222533;
}

.recent-products-content .recent-product-thumbnail {
  position: relative;
  overflow: hidden;
}

.recent-products-content .recent-product-thumbnail img {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.recent-products-content .recent-product-thumbnail::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(34, 37, 51, 0.4);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recent-products-content .recent-product:hover .recent-product-thumbnail::after, .recent-products-content .recent-product:focus .recent-product-thumbnail::after {
  visibility: visible;
  opacity: 1;
}

.recent-products-content .recent-product:hover .recent-product-thumbnail img, .recent-products-content .recent-product:focus .recent-product-thumbnail img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.recent-products-content .recent-product:hover .recent-product-thumbnail .rating, .recent-products-content .recent-product:focus .recent-product-thumbnail .rating {
  opacity: 1;
}

.recent-products-content .recent-product-content {
  padding: 2rem;
}

.recent-products-content .recent-product-content .product-title a {
  margin-bottom: 1.2rem;
  color: #f6e9b2;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recent-products-content .recent-product-content .product-title a:hover {
  color: #E6C229;
}

.recent-products-content .recent-product-content p {
  font-size: 1.3rem;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: bolder;
}

.recent-products-content .recent-product-content .product-meta {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-products-content .recent-product-content .product-meta .product-date {
  color: #ae9114;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recent-products-content .recent-product-content .product-meta .product-date:hover {
  color: #E6C229;
}

.recent-products-content .recent-product-content .product-meta .product-comment {
  color: #ae9114;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recent-products-content .recent-product-content .product-meta .product-comment:hover {
  color: #E6C229;
}

.recent-product-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item-1;
}

.recent-product-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: item-2;
}

.recent-product-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-3;
}

.recent-product-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item-4;
}

.recent-product-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item-5;
}

.recent-product-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: item-6;
}

.last-reviewed {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  background-color: #222533;
}

.last-reviewed-detail {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.last-reviewed-image {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(230, 194, 41, 0.5)), to(rgba(230, 194, 41, 0.1))), url(../img/10.jpg);
  background-image: linear-gradient(to right bottom, rgba(230, 194, 41, 0.5), rgba(230, 194, 41, 0.1)), url(../img/10.jpg);
  background-size: cover;
  height: 100%;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.masonry {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
}

.masonry-item {
  position: relative;
}

.masonry-item::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(34, 37, 51, 0.4);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.masonry-item-1 {
  border: 1px dotted #E6C229;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.masonry-item-2 {
  border: 1px dotted #E6C229;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.masonry-item-3 {
  border: 1px dotted #E6C229;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.masonry-item-4 {
  border: 1px dotted #E6C229;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.masonry-item-5 {
  border: 1px dotted #E6C229;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

.masonry-item-6 {
  border: 1px dotted #E6C229;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 4;
  grid-column: 4;
}

.masonry-item-7 {
  border: 1px dotted #E6C229;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.masonry-item-8 {
  border: 1px dotted #E6C229;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.masonry-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.middle {
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 102;
}

.masonry-item .masonry-image {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.masonry-item:hover, .masonry-item:focus {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.masonry-item:hover::after, .masonry-item:focus::after {
  visibility: visible;
  opacity: 1;
}

.masonry-item:hover .middle, .masonry-item:focus .middle {
  opacity: 1;
}

.text {
  color: #222533;
  padding: 1rem;
  font-family: "Changa", sans-serif;
  background-color: #ffffff;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 2px;
}

.showcase {
  background-color: #222533;
}

.showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.showcase-content .showcase-item {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.showcase-content .showcase-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 10;
}

.showcase-content .showcase-item:hover .item-image:before {
  opacity: 1;
}

.showcase-content .showcase-item:hover .item-content h3 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.showcase-content .showcase-item:hover .item-content i {
  opacity: 1;
}

.showcase-content .showcase-item:hover .item-content p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.showcase-content .showcase-item .item-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 194, 41, 0.3);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.showcase-content .showcase-item .item-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.showcase-content .showcase-item .item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.showcase-content .showcase-item .item-content h3 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 3rem;
  opacity: 0;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.showcase-content .showcase-item .item-content i {
  font-size: 6rem;
  margin: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.showcase-content .showcase-item .item-content i:hover {
  color: #d9d9d9;
}

.showcase-content .showcase-item .item-content p {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bolder;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-members .team-member {
  width: 100%;
  height: 100%;
}

.team-members .team-member:first-child {
  margin-right: 5rem;
}

.team-members .team-member:last-child {
  margin-left: 5rem;
}

.contact {
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img4/bg1.jpg");
  background-size: cover;
  min-height: 100vh;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content-detail {
  background-color: rgba(230, 194, 41, 0.8);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #ffffff;
  min-height: 40rem;
  margin-right: -5rem;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-content-detail h3 {
  margin-bottom: 3rem;
}

.contact-content-detail ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.contact-content-detail ul li i {
  margin-right: 2rem;
}

.contact-content-detail ul li p {
  font-size: 1.4rem;
  font-weight: bolder;
}

.contact-content-form {
  background-color: rgba(34, 37, 51, 0.8);
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content-form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content-form form input, .contact-content-form form textarea {
  width: 50%;
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.4rem;
  border-radius: 2px;
  display: block;
  font-weight: bolder;
}

.contact-content-form form textarea {
  background-color: transparent;
  border-bottom: 1px solid #f1dc84;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  resize: none;
}

.contact-content-form form textarea:focus {
  border-bottom: 2px solid #E6C229;
  outline: none;
  color: white;
}

.contact-content-form form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-content-form form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-content-form form textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-content-form form textarea:focus::placeholder {
  color: transparent;
}

.contact-content-form form input:not(:last-child) {
  margin-bottom: 3rem;
  background-color: transparent;
  border-bottom: 1px solid #f1dc84;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.contact-content-form form input:not(:last-child):focus {
  border-bottom: 2px solid #E6C229;
  outline: none;
  color: white;
}

.contact-content-form form input:not(:last-child):focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-content-form form input:not(:last-child):focus:-ms-input-placeholder {
  color: transparent;
}

.contact-content-form form input:not(:last-child):focus::-ms-input-placeholder {
  color: transparent;
}

.contact-content-form form input:not(:last-child):focus::placeholder {
  color: transparent;
}

.contact-content-form form input:last-child {
  margin-top: 3rem;
}

.contact-content-form form input[type=submit] {
  background-color: #ffffff;
  color: #222533;
  font-weight: bolder;
  cursor: pointer;
}

.contact-content-form form input[type=submit]:hover {
  background-color: #E6C229;
  color: #ffffff;
  font-weight: bolder;
}

footer {
  background-color: #222533;
  height: 6rem;
  font-family: "Changa", sans-serif;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

footer .container .copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

footer .container .copyright p {
  line-height: 6rem;
  font-size: 2.4rem;
  color: #ffffff;
}

footer .container .down-social-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .down-social-link i {
  line-height: 6rem;
  width: 100%;
  text-align: center;
}

footer .container .down-social-link .fc {
  background-color: #4b5496;
  width: 100%;
}

footer .container .down-social-link .tw {
  background-color: #6799ed;
  width: 100%;
}

footer .container .down-social-link .yt {
  background-color: #d92424;
  width: 100%;
}
/*# sourceMappingURL=deneme24.css.map */