@import "abstracts"
@import "components"
@import "animations"

*, *::after, *::before
    margin: 0
    padding: 0
    box-sizing: border-box


html
    font-size: 10px
    
body
    font-family: $secondary-font
    color: $gray-color
    background-color: $light-color

.container
    max-width: 114rem
    margin: 0 auto
    width: 100%

section
    padding: 8rem 0

h1, h2, h3, h4, h5, h6
    font-family: $primary-font
    letter-spacing: 3px

h1
    font-size: 7rem
    color: $primary-color
    font-weight: bolder

h2
    font-size: 5rem
    color: $primary-color
    letter-spacing: 0.5rem
    font-weight: bolder

h3
    font-size: 4rem
    color: $light-color
    letter-spacing: 2px
    font-weight: bold

h4
    font-size: 2.5rem
    color: $secondary-color
    text-transform: uppercase

a
    text-decoration: none
    text-transform: uppercase
    font-family: $primary-font
    color: $light-color

ul
    list-style: none

img
    width: 100%

.section-title

    h2
        text-align: center
        margin-bottom: 2rem

.top-header
    border-bottom: 1px solid $primary-color
    
    .container
        @include flex-display(flex, center, space-between)
        
        .top-social-menu
                display: flex

                li
                    margin: 0 1rem
                    padding: 1rem

                    a
                        font-size: 2rem
                        transition: all 0.25s
                    &:hover a
                        color: $primary-color        

        .login-area
            span
                display: none


.nav-header
    .navbar
        @include flex-display(flex, center, space-between)

        .navbar-list
            display: flex      

            li
                line-height: 8rem
                position: relative
                transition: all 0.25s

                .dropdown
                    position: absolute
                    background-color: lighten($secondary-color, 10%)
                    width: 150%
                    left: 50%
                    z-index: 10
                    transition: all 0.25s
                    top: 12rem
                    opacity: 0
                    visibility: hidden

                    li
                        line-height: 4rem
                &:hover
                    background-color: $primary-color

                    & .dropdown
                        opacity: 1
                        top: 8rem
                        visibility: visible
            a
                padding: 0 2rem
                font-size: 1.6rem
                letter-spacing: 2px
            i
                color: $light-color
                font-size: 1.6rem
                margin-right: 1rem

        .search-area

            input[type="search"], button[type="submit"]
                border: none
                background-color: transparent
                color: $light-color
                
            input[type="search"]
                border-bottom: 1px solid lighten($primary-color, 20%)
                padding: 0 0 0.5rem 0.5rem

                &:focus
                    border-bottom: 2px solid $primary-color
                    outline: none
                    color: white
                    
                    &::placeholder
                        color: transparent

            @include cross-rm

            button[type="submit"]
                margin-left: -5rem
                cursor: pointer
                
.main-slider

    .single-slide
        position: relative

        .slide-overlay
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .7) 100%)

            .slide-content
                position: absolute
                top: 30%
                left: 10%
                right: 10%
                border-top: 2px solid $primary-color
                border-bottom: 2px solid $primary-color
                padding: 10rem 25rem
                background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
                animation: mainAni 0.5s ease-out

                h2
                    color: lighten($primary-color, 30%)

                p
                    font-size: 1.6rem
                    color: $light-color
                    font-weight: bold
        


.owl-theme
    position: relative

    &::after
        position: absolute
        top: 73px
        right: 190px
        content: ''
        background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0))
        width: 158px
        height: 50px
        
    .owl-dots
        position: absolute
        top: 6rem
        right: 10%
        z-index: 5
        display: flex

        .owl-dot
            display: inline-block
            margin-right: 1.3rem
            width: 3.3rem
            height: 3.3rem
            text-align: center
            border-radius: 4rem
            transition: all 0.5s

            &.active, &:hover
                color: $primary-color

                span
                    background: transparent !important

            span
                font-size: 2.5rem
                font-family: $primary-font
                background-color: transparent !important

.latest-news
    display: flex
    background-color: $primary-color
    align-items: center

    &-title
        width: 25%
        text-align: right
        padding-right: 2rem

    &-content
        width: 75%
        background-color: $secondary-color
        height: 100%

        .news-ticker
            @include flex-display(flex, center, space-between)
            line-height: 6rem

            p
                color: $light-color
                font-size: 1.4rem
                font-weight: bold

.recent-products

    &-content
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-template-rows: auto
        grid-row-gap: 4rem
        grid-column-gap: 4rem
        grid-template-areas: 'item-1 item-1 item-1 item-2''item-3 item-4 item-5 item-6'

        .recent-product-featured
            @include flex-display(flex, center, space-between)

            .recent-product-thumbnail
                height: 100%

                img
                    height: 100%

            .rating
                width: 5rem
                height: 5rem
                line-height: 5rem
                font-size: 2rem
                border-bottom-right-radius: 7px

            .product-title
                
                a
                    font-size: 3rem !important

        .recent-product
            width: 100%
            height: 100%
            background-color: $secondary-color

            &-thumbnail
                position: relative
                overflow: hidden

                img
                    width: 100%
                    transition: all .5s
                    
                &::after
                    position: absolute
                    top: 0
                    left: 0
                    content: ''
                    background-color: rgba($secondary-color, 0.4)
                    width: 100%
                    height: 100%
                    visibility: hidden
                    opacity: 0
                    transition: all 0.3s

            &:hover, &:focus

                .recent-product-thumbnail

                    &::after
                        visibility: visible
                        opacity: 1

                    img
                        transform: scale(1.05)

                    .rating
                        opacity: 1
                        
            &-content
                padding: 2rem

                .product-title
                    
                    a
                        margin-bottom: 1.2rem
                        color: lighten($primary-color, 30%)
                        font-size: 1.8rem
                        transition: all 0.3s

                        &:hover
                            color: $primary-color

                p
                    font-size: 1.3rem
                    line-height: 1.8
                    letter-spacing: 1px
                    font-weight: bolder

                .product-meta
                    font-size: 1.2rem
                    @include flex-display(flex, center, space-between)

                    .product-date
                        color: darken($primary-color, 15%)
                        transition: all 0.3s

                        &:hover
                            color: $primary-color

                    .product-comment
                        color: darken($primary-color, 15%)
                        transition: all 0.3s
                    
                        &:hover
                            color: $primary-color
                            

.recent-product-1
    grid-area: item-1
.recent-product-2
    grid-area: item-2
.recent-product-3
    grid-area: item-3
.recent-product-4
    grid-area: item-4
.recent-product-5
    grid-area: item-5
.recent-product-6
    grid-area: item-6
 
.last-reviewed
    height: 50vh
    @include flex-display(flex, center, space-between)
    padding: 0
    background-color: $secondary-color

    &-detail
        flex-basis: 40%

    &-image
        flex-basis: 60%
        background-image: linear-gradient(to right bottom, rgba($primary-color, 0.5), rgba($primary-color, 0.1)), url(../img/10.jpg)
        background-size: cover
        height: 100%
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%)

.masonry
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(3, auto)
    grid-gap: 1rem
    
    &-item
        position: relative

        &::after
            position: absolute
            top: 0
            left: 0
            content: ''
            background-color: rgba($secondary-color, 0.4)
            width: 100%
            height: 100%
            visibility: hidden
            opacity: 0
            transition: all 0.3s

        &-1
            border: 1px dotted $primary-color
            grid-row: 1
            grid-column: 1

        &-2
            border: 1px dotted $primary-color
            grid-row: 1 / span 2
            grid-column: 2

        &-3
            border: 1px dotted $primary-color
            grid-row: 1
            grid-column: 3 / span 2

        &-4
            border: 1px dotted $primary-color
            grid-row: 2
            grid-column: 1

        &-5
            border: 1px dotted $primary-color
            grid-row: 2
            grid-column: 3

        &-6
            border: 1px dotted $primary-color
            grid-row: 2 / span 2
            grid-column: 4

        &-7
            border: 1px dotted $primary-color
            grid-row: 3
            grid-column: 1
            
        &-8
            border: 1px dotted $primary-color
            grid-row: 3
            grid-column: 2 / span 2

    &-image
        width: 100%
        height: 100%
        object-fit: cover
        display: block

.middle
    cursor: pointer
    transition: 0.5s ease
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    z-index: 102

.masonry-item

    .masonry-image
        opacity: 1
        transition: 0.5s ease

    &:hover, &:focus
        transition: 0.5s ease

        &::after
            visibility: visible
            opacity: 1

        .middle
            opacity: 1

.text
    color: $secondary-color
    padding: 1rem
    font-family: $primary-font
    background-color: $light-color
    font-size: 2rem
    font-weight: bolder
    text-transform: uppercase
    border-radius: 2px

.showcase
    background-color: $secondary-color

    &-content
        display: flex
        overflow: hidden

        .showcase-item
            position: relative
            transition: all 0.3s

            &:hover
                transform: scale(1.05)
                z-index: 10

                .item-image:before 
                    opacity: 1
                
                .item-content

                    h3
                        opacity: 1
                        transform: translateY(0)

                    i
                        opacity: 1

                    p
                        opacity: 1
                        transform: translateY(0)

            .item-image

                &::before
                    content: ""
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background-color: rgba($primary-color, 0.3)
                    opacity: 0
                    transition: all 0.3s
                
                img
                    display: block
                    width: 100%
                    height: 100%
                    object-fit: cover
                
            .item-content
                position: absolute
                top: 50%
                left: 50%
                text-align: center
                transform: translate(-50%,-50%)
                z-index: 5

                h3
                    transition: all 0.3s
                    font-size: 3rem
                    opacity: 0
                    transform: translateY(-3rem)

                i
                    font-size: 6rem
                    margin: 1rem
                    transition: all 0.3s
                    opacity: 0

                    &:hover
                        color: darken($light-color, 15%)

                p
                    color: $light-color
                    font-size: 1.5rem
                    font-weight: bolder
                    transition: all 0.3s
                    opacity: 0
                    transform: translateY(3rem)

.team-members
    display: flex

    .team-member
        width: 100%
        height: 100%

        &:first-child
            margin-right: 5rem

        &:last-child
            margin-left: 5rem

.contact
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .7) 100%), url('../img4/bg1.jpg')
    background-size: cover
    min-height: 100vh

    &-content
        display: flex
        margin-top: 4rem
        align-items: center

        &-detail
            background-color: rgba($primary-color, 0.8)
            flex: 1
            color: $light-color
            min-height: 40rem
            margin-right: -5rem
            z-index: 5
            display: flex
            align-items: center
            justify-content: center
            padding: 4rem
            flex-direction: column

            h3
                margin-bottom: 3rem

            ul
                li
                    display: flex
                    align-items: center
                    margin-bottom: 2rem
                    

                    i
                        margin-right: 2rem

                    p
                        font-size: 1.4rem
                        font-weight: bolder
            
        &-form
            background-color: rgba($secondary-color, 0.8)
            flex: 2
            min-height: 50rem
            display: flex
            align-items: center

            form
                width: 100%
                display: flex
                flex-direction: column
                align-items: center

                input, textarea
                    width: 50%
                    padding: 1rem
                    border: none
                    text-transform: uppercase
                    font-family: inherit
                    font-size: 1.4rem
                    border-radius: 2px
                    display: block
                    font-weight: bolder

                textarea
                    background-color: transparent
                    border-bottom: 1px solid lighten($primary-color, 20%)
                    transition: all 0.1s
                    resize: none

                    &:focus
                        border-bottom: 2px solid $primary-color
                        outline: none
                        color: white
                    
                        &::placeholder
                            color: transparent

                input:not(:last-child)
                    margin-bottom: 3rem
                    background-color: transparent
                    border-bottom: 1px solid lighten($primary-color, 20%)
                    transition: all 0.1s

                    &:focus
                        border-bottom: 2px solid $primary-color
                        outline: none
                        color: white
                    
                        &::placeholder
                            color: transparent

                input:last-child
                    margin-top: 3rem

                input[type=submit]
                    background-color: $light-color
                    color: $secondary-color
                    font-weight: bolder
                    cursor: pointer

                    &:hover
                        background-color: $primary-color
                        color: $light-color
                        font-weight: bolder

footer
    background-color: $secondary-color
    height: 6rem
    font-family: $primary-font

    .container
        display: flex
        align-items: center
        height: 100%

        .copyright
            flex: 1
            height: 100%

            p
                line-height: 6rem
                font-size: 2.4rem
                color: $light-color

        .down-social-link
            flex: 1
            width: 100%
            height: 100%
            display: flex

            i
                line-height: 6rem
                width: 100%
                text-align: center
            .fc
                background-color: #4b5496
                width: 100%

            .tw
                background-color: #6799ed
                width: 100%

            .yt
                background-color: #d92424
                width: 100%

