@mixin boyut($en: null,$boy: null)

    width: $en
    height: $boy

@mixin yazi($konum,$stil)

    text-align: $konum
    text-transform: $stil

@mixin renk-bg($acik,$koyu)

    background-color: $koyu
    color: $acik

@mixin renk-h($font-r,$font-s)

    color: $font-r
    font-size: $font-s

.kutu

    @include boyut(100%,500px)
    @include renk-bg(#fff,#3b3b3b)
    @include yazi(center, uppercase)

    h1
        position: justify
        @include renk-h(#fff,45px)