.kutu {
  width: 100%;
  height: 500px;
  background-color: #3b3b3b;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.kutu h1 {
  position: justify;
  color: #fff;
  font-size: 45px;
}
/*# sourceMappingURL=mixin.css.map */