$renk : ("acik": #fff, "gri": #aaa, "koyu": #3b3b3b)

$boyut : ("kucuk": 12px, "orta": 14px, "buyuk": 18px)

body
    background-color : map-get($renk, "koyu")

.baslik
    font-size: map-get($boyut,"buyuk")
    color: map-get($renk,"acik")
    text-align: center